*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* .container {
    max-width: 1300px;
    margin: 0 auto;
} */
.production>h1 {
    font-family: Recoleta;
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 74px;
    color:#1B1A18;
}
.production>h3 {
    font-family: Recoleta;
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 74px;
    color:#1B1A18;
}
.buttonhumin {
    display: flex;
    justify-content: space-evenly;
    gap: 99px;
    align-items: center;
}
.production.production_cards_wrapper {
   display: flex;
    justify-content: space-between;
    border-radius: 15px;
    /* border: 2px solid blue; */
    text-align: center;
} 
.production_cards_wrapper div {
     display: flex;
    flex-direction: column;
    align-items: center;
    width: 295px;
    border-radius: 15px;
    border: 2px solid blue;
}
.production_cards_wrapper {
     display: flex;
    flex-direction: column;
    align-items: center;
    width: 295px;
    border-radius: 15px;
    border: 2px solid orange;
}
.production_cards_wrapper {
     display: flex;
    flex-direction: column;
    align-items: center;
    width: 295px;
    border-radius: 15px;
    border: 2px solid greenyellow;
}
.production_cards_wrapper {
     display: flex;
    flex-direction: column;
    align-items: center;
    width: 295px;
    border-radius: 15px;
    border: 2px solid grey;
}

.platea>h1 {
    font-family: Recoleta;
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 74px;
    color:#1B1A18;
}

.Morbi h3 {
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    /* border: 2px solid blue; */
    margin-bottom: 40px;
    text-align: center;
    color: wheat;
}

.Morbi div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 295px;
    border-radius: 15px;
    border: 2px solid blue;
    background-color: blueviolet;
}
.baarik{
  font-family: Recoleta;
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 74px;
    color:#1B1A18;  
}
.but{
     display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 295px; */
    border-radius: 15px;
    border: 2px solid blue;
    /* background-color: cornflowerblue; */
}
.but p{
     font-family: Noto Sans;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: center;
    color: aquamarine;
}
.but h3{
     font-family: Recoleta;
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    letter-spacing: 0%;
    text-align: center;
    color: yellowgreen;
}
.tel {
    background-color: #DDE9E8;
    padding: 28px 28px 28px 28px;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #7B9394;
    border-radius: 30px 30px 30px 30px;
}
.dasturchi h3{
     font-family: Recoleta;
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    letter-spacing: 0%;
    /* text-align: center; */
    margin-bottom: 74px;
    color:#1B1A18;  
}
.dasturchi p{
     font-family: Noto Sans;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0%;
    /* text-align: center; */
    color: red;
    /* border-radius: 5px; */
}

.baarik-more-text {
  width: 580px;
  font-size: 32px;
  font-weight: 500;
  line-height: 45px;
}
.baarik-more-cards .card {
  width: 580px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px 30px;
  border-radius: 40px;
  background-color: #ffffff;
  color: black;
  margin-bottom: 20px;
  border-radius: 10px;
}

.baarik-more-cards .card svg {
  width: 70px;
  border-radius: 10px;
}

.baarik-more-cards .card p {
  font-size: 22px;
  font-weight: 500;
  text-align: start;
  border-radius: 10px;
}
.elementor-button-text{
    font-size: 25px;
    color: black;
}